<div class="row" style="margin: 30px 0px;">
  <div class="col-6">
    <h1>Formulario de compra</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card" style=" border: 2px solid #343a406c; margin: 10px 0px; font-size: 20px;">
      <div class="card-body">
        <div class="row" style="margin: 5px 0px;">
          <div class="col-6">
            <label for="text">Costos de envio:</label>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Pagos al transportista" >
          </div>
        </div>
        <div class="row" style="margin: 5px 0px;">
          <div class="col-6">
            <label for="text">Impuesto:</label>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Iva + retención + otros  " >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
